@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* color palette: */
$color-background: #121214;
$color-white: #ececec;
$color-grey: #7e7e7e;
$color-blue: #81D8F7;

:root {

  /* reset css: */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;

  /* default styles: */
  background-color: $color-background;
  color: $color-white;
  font-family: 'Inter', sans-serif;
}
